

/*  UPDATED! front pane, placed above back */
.front {
	z-index: 2;
    position: relative;
	transform: rotateX(0deg);
}




/* back, initially hidden pane */
.back  {
	transform: rotateX(-180deg);
}

.vertical.flip-container {
	position: relative;
}

.vertical .back {
	transform: rotateY(180deg);
}
