
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
	transform-style: preserve-3d;
}
	/*  UPDATED! flip the pane when hovered */
	.flip-container:hover .back {
		transform: rotateY(180deg);
	}
	.flip-container:hover .front {
	    transform: rotateY(0deg);
	}

.flip-container, .front, .back {
	width: 200px;
	height: 200px;
}

/*  UPDATED! front pane, placed above back */
.front {
	z-index: 2;
    position: relative;
	transform: rotateY(-180deg);
}



/* back, initially hidden pane */
.back  {
	transform: rotateY(0deg);
}

.vertical.flip-container {
	position: relative;
}

.vertical .back {
	transform: rotateX(0deg);
}

.vertical.flip-container:hover .back {
    transform: rotateX(180deg);
}

.vertical.flip-container:hover .front {
    transform: rotateX(0deg);
}
