
/*  UPDATED! front pane, placed above back */
.front {
	z-index: 2;
  position: relative;
	transform: rotateY(-180deg);
}

/* back, initially hidden pane */
.back  {
	transform: rotateY(0deg);
}

.vertical.flip-container {
	position: relative;
}

.vertical .back {
	transform: rotateX(0deg);
}
