/*  UPDATED! flip the pane when hovered */
.flip-container:hover .back-extension {
	transform: rotateY(180deg);
}
.flip-container:hover .front-extension {
    transform: rotateY(0deg);
}


.vertical.flip-container:hover .back-extension {
    transform: rotateX(0deg);
}

.vertical.flip-container:hover .front-extension {
    transform: rotateX(180deg);
}
