<div class="qv-extension-picflip-buttonRow" style="position: relative; display: block;">
  <div class="qv-extension-picflip-titleHolder">
    <h1>{{layout.props.title}}</h1>
  </div>
  <div class="qv-extension-picflip-buttonHolder">
    <button type="button" class="qv-extension-picflip-button qv-extension-picflip-flipButton">
      <img class="qv-extension-picflip-button" src="/extensions/PicFlip/images/flip.png">
    </button>
    <button type="button" class="qv-extension-picflip-button qv-extension-picflip-lockButton">
      <img class="qv-extension-picflip-button" src="/extensions/PicFlip/images/lock_white.png">
    </button>
  </div>
  <div id="divider" style="width:100%; height:1px; background-color: #000;"></div>
</div>
<div class="container" qv-extension style="height: 100%; position: relative; overflow: auto;">
	<link ref="stylesheet" id="customCSS" href="./style.css"/>
	<thead>
<tr>
		<th ng-repeat="head in table.headers track by $index" qva-activate="head.orderBy()">{{head.qFallbackTitle}}</th>
	</tr>
	</thead>
		<thead>
			<tr>
					<th ng-repeat="dim in layout.qHyperCube.qDimensionInfo" ng-bind="dim.qFallbackTitle" />
					<th ng-repeat="mea in layout.qHyperCube.qMeasureInfo" ng-bind="mea.qFallbackTitle" />
			</tr>
		</thead>
	<ul class="qv-extension-picflip-ul">
		<span id="row" ng-repeat="row in table.rows track by $index" >
				<li class="qv-extension-picflip-li">
				<span ng-repeat="cell in row.cells track by $index" ng-class="{'selected':cell.selected,'numeric':cell.qNum}" qva-activate="cell.select($event)">
					<div class="selectable" id="selectable">
						<div ng-show="{{$index}} == 0" style="cursor:pointer" class="qv-extension-picflip-flip-container">
							<div class="qv-extension-picflip-flipper">
								<div  class="qv-extension-picflip-front" style="background: {{layout.props.colorFrontside}}" >
                  <div class="qv-extension-picflip-corner-circle">
                    <h1 style="position: absolute; top: 50%; left:50%; transform: translate(-50%,-50%);">{{$parent.$index+1}}</h1>
                  </div>
									<img class="qv-extension-picflip-image-display" ng-src="{{row.cells[0].qText}}">
								</div>
							</div>
							<div class="qv-extension-picflip-back" style="background: #{{layout.props.colorBackside}}">
							<img class="qv-extension-picflip-image-display qv-extension-picflip-back-display" ng-src="{{row.cells[0].qText}}" >
								<div class="qv-extension-picflip-back-title">

										<div  class="measure1"  ng-if="row.cells[1]">
											<h3 ng-if="useTitles">{{row.cells[1].qMeasureInfo.qFallbackTitle}}</h3>
											<h2> {{row.cells[1].qText}}</h2>
										</div>
										<div  class="measure2" ng-if="row.cells[2]">
										  <br>
											<h3 ng-if="useTitles">{{row.cells[2].qMeasureInfo.qFallbackTitle}}</h3>
											<h2>{{row.cells[2].qText}}</h2>
										</div>
										<div class="measure3"  ng-if="row.cells[3]">
  										<br>
											<h3 ng-if="useTitles">{{row.cells[3].qMeasureInfo.qFallbackTitle}}</h3>
											<h2 >{{row.cells[3].qText}}</h2>
										</div>
								</div>
							</div>
						</div>
					</div>
					</span>
				</li>
		</span>
	</ul>
<button ng-if="table.rowCount>table.rows.length" qva-activate="table.getMoreData(); qlik.resize();" class="lui-button more">More...</button>
</div>
